<div class="row">
  <div class="col-sm-11">
    <div style="display: inline;" (mouseleave)="displaySelect=false" >
      <input [(ngModel)]="inputFilter" type="text" placeholder="Enter categorie name" (focus)="filterCategories()" (keyup)="filterCategories()">
      <div id="filterResultList"  *ngIf="displaySelect">
        <div (click)="getSubcategories(category.id)"  [innerHTML]="category.name " class="item" *ngFor="let category of filteredCategories" >
        </div>
        <div *ngIf="filteredCategories.length===0">
          No categories found
        </div>
      </div>  
    </div>
    <select #subCategory id="subCategory" *ngIf="subCategories.length>0">
      <option>Select a subCategory</option>
      <option [value]="subCategory" *ngFor="let subCategory of subCategories">
        {{subCategory}}
      </option>
    </select>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz(categoryId.toString(), difficulty.value)">Create</button>
  </div>

</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" ></app-quiz>
</div>

<!--
  <select #category id="categorySelect" (change)="getSubcategories(category.value)">
      <option value=0 >Select category</option>
      <option [value]="category.id" *ngFor="let category of categories">
        {{category.name}}
      </option>
    </select>
-->
